:root {
  --logo-width: 100px;
  --main-padding: 2.5%;
  --background-color: #f8f9fa;
  --header-height: 60px;
}

body {
  background-color: var(--background-color);
}

main {
  min-height: calc(100vh - var(--header-height));
  padding: 12px var(--main-padding);
}

header {
  padding: 12px var(--main-padding);
  background-color: white !important;
  border-bottom: 1px solid #dcdddd;
}

.logo {
  width: 200px;
}
